# Thêm các module và danh mục loại trừ tệp khỏi các bản lưu trữ
#
# Tại sao không thêm vào .gitignore?
# Khi thêm vào file .gitignore, IDE sẽ nhận biết các module thuộc .gitignore và loại trừ hiển thị "Diff - Changes"
# Chúng ta chỉ thêm vào file .gitattributes để đảm bảo IDE vẫn quét module và không bị commit trong repo "root"

/tour-dev-tools/        export-ignore
/tour-flyway/      export-ignore

/tour-admin/        export-ignore
/tour-backend/      export-ignore
/tour-client/       export-ignore
/tour-other/        export-ignore
/minimal-api-dev/   export-ignore
